VITE_SKYWAY_APP_ID=2e240d21-3fe6-49c4-8e5f-76bd2fb8dc2a
VITE_SKYWAY_SECRET_KEY=1xSVx8HFzMhtcF9L8AdaEpyAKUSH6IxRA25WK8Aavf8=
VITE_SUPABASE_URL=https://wpmqflyjhexugepglaek.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_NZJ0uvLEvnAYSFwDvG952g_CeGOU6ra
