VITE_SKYWAY_APP_ID=e1763361-088f-4073-915d-a70ad5c662db
VITE_SKYWAY_SECRET_KEY=QOjwW1XW45bquteBvc/NtXhDy8TXg17T0UjNC6NYJY8=
VITE_SUPABASE_URL=https://wpmqflyjhexugepglaek.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_NZJ0uvLEvnAYSFwDvG952g_CeGOU6ra
